<script type="text/javascript">
	var timeout = 500;
	var closetimer = 0;
	var ddmenuitem = 0;

	function menuOver(elm, childID) {
		elm.className = "menuItemHover";
		mcancelclosetime();

		// close old layer
		if (ddmenuitem) {
			ddmenuitem.css("display", "none");
		}

		// get new layer and show it
		ddmenuitem = $(childID);
		ddmenuitem.css("display", "block");

	}
	function menuOut(elm) {
		elm.className = "menuItem";
		if (ddmenuitem) {
			ddmenuitem.css("display", "none");
		}
	}

	// go close timer
	function mclosetime() {
		closetimer = window.setTimeout(mcancelclosetime, timeout);
	}

	// cancel close timer
	function mcancelclosetime() {
		if (closetimer) {
			window.clearTimeout(closetimer);
			closetimer = null;
		}
	}

	// close layer when click-out
	document.onclick = function () {
		if (ddmenuitem) {
			ddmenuitem.css("display", "none");
		}
	};

</script>
<nav>
	<ul class="navBar">
		<li style="width: 120px;" class="menuItem" onmouseover="menuOver(this);" onmouseout="menuOut(this);" onclick="window.location='/'">@Html.ActionLink("HOME", "Index", "Home")</li>
		<li style="width: 165px;" class="menuItem" onmouseover="menuOver(this);" onmouseout="menuOut(this);" onclick="window.location='/Home/Access'">@Html.ActionLink("ACCESSING FRASS", "Access", "Home")</li>
		<li style="width: 120px;" class="menuItem" onmouseover="menuOver(this);" onmouseout="menuOut(this);" onclick="window.location='/Home/Users'">@Html.ActionLink("USERS", "Users", "Home")</li>
		<li style="width: 120px;" class="menuItem" onmouseover="menuOver(this);" onmouseout="menuOut(this);" onclick="window.location='/Home/Portfolios'">@Html.ActionLink("PORTFOLIOS", "Portfolios", "Home")</li>
		<li style="width: 130px;" class="menuItem" onmouseover="menuOver(this, menuData);" onmouseout="menuOut(this);">
			@Html.ActionLink("DATA DESIGN", "Data", "Home")
			<div id="menuData" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
				@Html.ActionLink("FRASS APPROACH", "Approach", "Home")
				@Html.ActionLink("TIME VALUE OF MONEY", "Time", "Home")
			</div>
		</li>
		<li style="width: 180px;" class="menuItem" onmouseover="menuOver(this);" onmouseout="menuOut(this);" onclick="window.location='/Home/Service'">@Html.ActionLink("INITIATING SERVICE", "Service", "Home")</li>
		<li style="list-style: none; clear: both;"></li>
	</ul>
</nav>
